@font-face {
  font-family: 'Helvetica Neue';
  src: url('HelveticaNeue-Thin.woff2') format('woff2'),
      url('HelveticaNeue-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('HelveticaNeue-Light.woff2') format('woff2'),
      url('HelveticaNeue-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
